/*
    Basic page settings
*/
:root {
    --primary-section-color: rgb(143, 12, 143);
    --secondary-section-color: rgb(21, 12, 143);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
   font-family: Helvetica, Arial, sans-serif;
}

  /*
    End of Basic page settings
  */


  /*
    Header and Nav Section
  */
header{
    margin: 50px auto;
    width: 100%;
    padding:0 20% 20px 20%;
}

header h1 {
    margin: 0 auto;
    font-weight: bold;
    font-size: 48px;
    align-items: center;
    text-align: center;
    width: 80%;
    border-bottom: 3px solid;
}

/* Profile image section */
.profile-pic{
    display: flex;
    text-align: center;
}

.profile-pic img {
    max-width: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Nav Section */
nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
}

nav a{
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*
    End of the Header & Nav section
*/

/* section titles */
.section-title {
    font-weight: bold;
    font-size: 48px;
    border-right: 3px solid;
    text-align: left;
    width: 275px;
}

/* About Me Section */
#aboutme {
    display: flex;
     width: 100%;
    padding:0 20% 20px 20%;
}

.aboutme-info {
    flex: 1 0 0;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    font-size: 20px;
}

/* My work Section */
#mywork {
    display: flex;
    width: 100%;
    padding:0 20% 20px 20%;
}

.featured-work {
    flex: 1 0 0;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
  
.featured-work img {
    max-width: 300px;
    border-radius: 10%;
    position: relative;
}


.featured-text {
    position:relative;
    text-align: left;
    font-size: 36px;
    bottom: 60px;
    left: 40px;
    color: rgb(12, 11, 11);
}

.featured-work a {
    text-decoration: none;
}

/* end of My Work Section */

/* Contact Me Section */
.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.contact-info > * {
    flex: 1;
    margin: 15px;
}

#contactme {
    display: flex;
    width: 100%;
    padding:0 20% 20px 20%;
}

/* Contact Form Section */
.contact-form {
    border:3px solid black;
    padding:20px;
    max-width: 300px;
    border-radius: 15%;
    display: block;
    background-color: gray;
}

.contact-form input, .contact-form textarea {
    border: 1px solid ;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}
  
.contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}
  
.contact-form button {
    width: 100px;
    border: none;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 15px;
}
  /* end of contact form section */
  

  /* End of the Contact Me Section */

  /* image overlay */

.image {
    position: relative;
    width: 300px;
    height: 300px;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: #009578;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}



  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .section-title {
        width: 100px;
        font-size: 26px;
    }

    .featured-work img {
        max-width: 200px;
    }
    .first-app img {
        max-width: 400px;
    }

    .featured-text {
        font-size: 26px;
    }    
    image {
        width: 200px;
        height: 200px;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .featured-work img {
        max-width: 110px;
    }
    .first-app img {
        max-width: 325px;
    }
    image {
        width: 110px;
        height: 110px;
    }
    .featured-text {
        font-size: 0;
    }    
} 

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .section-title {
        border-right: 0 solid;
        border-bottom: 3px solid;
        text-align: center;
        width: 100%;
    }

    .featured-text {
        font-size: 16;
    }    

    #aboutme {
        display: block;
        padding:0 10% 10px 10%;
    }    

    #mywork {
        display: block;
        padding:0 10% 10px 10%;
    }

    #contactme {
        display: block;
        padding:0 10% 10px 10%;
    }

    .featured-work img {
        max-width: 200px;
    }
    image {
        width: 110px;
        height: 110px;
    }
}